ruby:
  require "./src/models/meetup.rb"
  meetups = Meetup.load


doctype html
html prefix="og: http://ogp.me/ns#"
  head
    title NNRUG Community Site

    meta name="description" content="NNRUG Community Site"
    meta name="author" content="NNRUG"
    meta charset="UTF-8"
    meta name="robots" content="all"
    meta content="width=device-width initial-scale=1.0" name="viewport"

    link href="assets/app.css" rel="stylesheet" type="text/css"

  body
    .contain-to-grid.fixed
      nav.top-bar data-topbar=true
        ul.title-area
          li.name
            h1: a href="/" NNRUG
          li.toggle-topbar.menu-icon: a href="#"
            span Menu

        section.top-bar-section
          ul.right
            li class="active"
              a href="https://github.com/NNRUG"
                i.fa.fa-github-alt.fa-lg>
                |GitHub

    .row: .small-12.columns: .text-center
      h1 Nizhniy Novgorod Ruby User Group
      h2.subheader Нижегородское сообщество руби разработчиков

    br
    br

    .row
      .small-6.columns
        .text-center
          a.social.google-plus href="https://plus.google.com/communities/109804446999128919160"
            i.fa.fa-google-plus.fa-5x
      .small-6.columns
        .text-center
          a.social.facebook href="https://www.facebook.com/groups/nnrug"
            i.fa.fa-facebook.fa-5x

    br
    br
    br

    section#meetups
      .row
        .small-12.medium-7.columns
          h2 Встречи
          - meetups.each do |meetup|
            article
              header
                .right: span.muted = meetup.date.to_s
                h4: a href=meetup.link.to_s = meetup.title
              ul.talks
                - meetup.talks.each do |talk|
                  li
                    a href=talk.link = talk.title
                    span< by #{talk.author}


        .small-12.medium-4.medium-offset-1.columns
          section#news
            h2 Новости
            #mc_embed_signup
              form#mc-embedded-subscribe-form action="//nnrug.us4.list-manage.com/subscribe/post?u=81a7bd8a9b10bb7c04231712d&amp;id=8c472b2bef" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate=true

                .mc-field-group
                  input#mce-EMAIL.required.email type="email" value="" name="EMAIL" placeholder="myperfect@email.com"
                  input type="hidden" name="b_81a7bd8a9b10bb7c04231712d_8c472b2bef" tabindex="-1" value=""

                input#mc-embedded-subscribe.button.success.small type="submit" value="Подписаться" name="subscribe"

