$facebook-color: #3b5998
$google-plus-color: #dd4b39
$muted-color: #aaa

$header-font-weight: 300
$subheader-font-weight: 200

// @import "variables"
@import "foundation"
@import "font-awesome"

body
  padding-top: 60px


.social
  border-radius: 50%
  text-align: center
  color: white
  display: inline-block
  min-height: 144px
  min-width: 144px
  transition: background-color .35s ease-in-out
  border-width: 3px
  border-style: solid
  padding-top: 1.9rem
  &.facebook
    background: $facebook-color
    border-color: $facebook-color
    &:hover
      color: $facebook-color
      background: white
  &.google-plus
    background: $google-plus-color
    padding-left: .9rem
    border-color: $google-plus-color
    &:hover
      color: $google-plus-color
      background: white
  i
    transition: all .35s ease-in-out
    transform: scale(.7)
  &:hover i
    transform: scale(1)

.muted
  color: $muted-color
